<%= form_with(model: verfugbarkeit, url: calendar_verfugbarkeits_path, local: true) do |form| %>
  <% if verfugbarkeit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(verfugbarkeit.errors.count, "error") %> prohibited this verfugbarkeit from being saved:</h2>
      <ul>
        <% verfugbarkeit.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>bin im calendar</p>
  <div class="field">
    <%= form.label :status %>
    <%= form.select :status, Verfugbarkeit.statuses.keys %>
  </div>
  <div class="field">
    <%= form.label :start %>
    <%= form.datetime_select :start, discard_minute: true %>
  </div>
  <div class="field">
    <%= form.label :ende %>
    <%= form.datetime_select :ende, discard_minute: true %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>