<h1>Verfügbarkeits Verwaltung von <%= @user.name %></h1>
<% if notice %>
  <p id = "notice"><%= notice %></p>
<% end %>
<p>KW <%= @kal_woche %> ist: <%= week_dates(@kal_woche) %></P>
<div class="mtb_woche">
  <div class="navi_zurück"><%= link_to '<< Vorherige Woche', prinzi_cal_index_path(woche: "#{@kal_woche.to_i - 1}"), method: :get %></div>
  <div class="navi_vor"><%= link_to 'Nächste Woche >>', prinzi_cal_index_path(woche: "#{@kal_woche.to_i + 1}"), method: :get %></div>
  <div class="titel">Uhrzeit</div>
  <div class="titel">Mo <%= @wochen_datums[0]%></div>
  <div class="titel">Di <%= @wochen_datums[1]%></div>
  <div class="titel">Mi <%= @wochen_datums[2]%></div>
  <div class="titel">Do <%= @wochen_datums[3]%></div>
  <div class="titel">Fr <%= @wochen_datums[4]%></div>
  <div class="titel">Sa <%= @wochen_datums[5]%></div>
  <div class="titel">So <%= @wochen_datums[6]%></div>
  <!-- erzeugt die verfügbarkeits Zellen für jeden Tag-->
  <%= render partial: "verf_user", locals: {verfugbarkeiten: @wochen_auslastung[@user]} %>
  <div class="verfügbarkeit">Aktionen</div>
  <% @wochen_datums.each do |tag| %>
    <!-- Erzeugt die Aktionen für jede Spalte-->
    <%= render partial: "aktionen_liste", locals: {tag: tag} %>
  <% end %>
</div>
<div>Verfügbarkeiten diese Woche</div>
<%= button_to 'Erzeuge Verfügbarkeit', new_buchung_prinzi_path, action: "create", method: :get %>
<table>
  <tbody>
    <tr>
      <td></td>
    </tr>
    <tr>
      <td>
        <%= form_tag(controller: "prinzi_cal", action: "destroy", method: :delete) do %>
          <%= submit_tag("Lösche Auswahl", data: {confirm: "Verfügbarkeiten sicher löschen?"}) %>
          <%= hidden_field_tag "woche", @kal_woche %>
          <div class="ereignis_frame">
            <% @verfugbarkeits.each do |verfugbarkeit| %>
              <%= render partial: "ereigniss_liste", locals: { verfugbarkeit: verfugbarkeit } %>
            <% end %>
          </div>
        <% end %>
      </td>
      <td></td>
    </tr>
    <tr>
      <td></td>
    </tr>
  </tbody>
</table>