<h1>Verfügbarkeits Verwaltung von <%= @user.name %></h1>
<% if notice %>
  <p id = "notice"><%= notice %></p>
<% end %>
<p>KW <%= @kal_woche %> ist: <%= week_dates(@kal_woche) %></P>
<div class="mtb_woche">
  <div class="navi_zurück"><%= link_to '<< Vorherige Woche', prinzi_cal_index_path(woche: "#{@kal_woche.to_i - 1}"), method: :get %></div>
  <div class="navi_vor"><%= link_to 'Nächste Woche >>', prinzi_cal_index_path(woche: "#{@kal_woche.to_i + 1}"), method: :get %></div>
  <div class="titel">Uhrzeit</div>
  <div class="titel">Mo <%= @wochen_datums[0]%></div>
  <div class="titel">Di <%= @wochen_datums[1]%></div>
  <div class="titel">Mi <%= @wochen_datums[2]%></div>
  <div class="titel">Do <%= @wochen_datums[3]%></div>
  <div class="titel">Fr <%= @wochen_datums[4]%></div>
  <div class="titel">Sa <%= @wochen_datums[5]%></div>
  <div class="titel">So <%= @wochen_datums[6]%></div>
  <%= render partial: "verf_user", locals: {verfugbarkeiten: @wochen_auslastung[@user]} %>
  <div class="aktionen">Aktionen</div>
  <% (1..7).each do |variable| %>
    <div class="verfügbarkeit">
      <div><%= submit_tag "Verfügbar ganzer Tag" %>  </div>
      <div><%= submit_tag "Abwesend ganzer Tag" %>  </div>
      <div><%= submit_tag "Frage ganzer Tag" %>  </div>
    </div>
  <% end %>
  <div>Verfügbarkeiten</div>
</div>
<table width="80%" height="90%">
  <tbody>
    <tr>
      <td><%= button_to 'Erzeuge Verfügbarkeit', new_buchung_prinzi_path, action: "create", method: :get %></td>
    </tr>
    <tr>
      <td>
        <div class="ereignis_frame">
          <% @verfugbarkeits.each do |verfugbarkeit| %>
            <%= render partial: "ereigniss_liste", locals: { verfugbarkeit: verfugbarkeit } %>
          <% end %>
        </div>
      </td>
      <td></td>
    </tr>
    <tr>
      <td></td>
    </tr>
  </tbody>
</table>