<div class="person"><%= "Nutzer: #{mitarbeiter.username}" %><br/>
  <%= "Name: #{mitarbeiter.name}" %></div>
<% verfugbarkeiten.each do |verf| %>
  <div class="verfügbarkeit">
    <div class="verfügbar"><%= verf[:verfügbar] %></div>
    <div class="abwesend"><%= verf[:abwesend] %></div>
    <div class="fragen"><%= verf[:fragen] %></div>
  </div>
<% end %>