<div class="person"><%= "Nutzer: #{mitarbeiter.username}" %><br/>
  <%= "Name: #{mitarbeiter.name}" %></div>
<% verfugbarkeiten.each do |verf| %>
  <div class="verf端gbarkeit">
    <% if verf[:potential] %>
      <% then %>
      <div class="verf端gbar_buchung">
      <% else %>
        <div class="verf端gbar">
        <% end %>
        <%= print_verfugbar_zeiten verf[:verf端gbar] %></div>
      <div class="abwesend"><%= print_verfugbar_zeiten verf[:abwesend] %></div>
      <div class="fragen"><%= print_verfugbar_zeiten verf[:fragen] %></div>
    </div>
  <% end %>