<h1>Willkommen lieber Admin</h1>
Uhrzeit: <%= Time.now %>
Anzahl Verfügbarkeiten: <%= @verfugbarkeiten_anzahl %>
Anzahl User: <%= @user_anzahl %>
KW 36 ist: <%= week_dates(36) %>
<p>Find me in app/views/admin/index.html.erb</p>
<% if notice %>
  <p id = "notice"><%= notice %></p>
<% end %>
<div class="adminwoche">
  <div class="titel">Name</div>
  <div class="titel">Mo <%= @wochen_datums[0]%></div>
  <div class="titel">Di <%= @wochen_datums[1]%></div>
  <div class="titel">Mi <%= @wochen_datums[2]%></div>
  <div class="titel">Do <%= @wochen_datums[3]%></div>
  <div class="titel">Fr <%= @wochen_datums[4]%></div>
  <div class="titel">Sa <%= @wochen_datums[5]%></div>
  <div class="titel">So <%= @wochen_datums[6]%></div>
  <div class="person">Paula</div>
  <div class="verfügbarkeit">
    <div class="verfügbar">09-11</div>
    <div class="abwesend">12-19</div>
  </div>
  <div class="verfügbarkeit">
    <div class="verfügbar">09-11</div>
    <div class="abwesend">12-17</div>
    <div class="fragen">17-19</div>
  </div>
  <div class="verfügbarkeit">
    <div class="verfügbar">09-11</div>
    <div class="abwesend">12-19</div>
  </div>
  <div class="verfügbarkeit">
    <div class="verfügbar">09-11</div>
    <div class="abwesend">12-19</div>
  </div>
  <div class="verfügbarkeit">
    <div class="verfügbar">09-11</div>
    <div class="abwesend">12-19</div>
  </div>
  <div class="verfügbarkeit">
    <div class="verfügbar">09-11</div>
    <div class="fragen">12-15</div>
    <div class="abwesend">15-19</div>
  </div>
  <div class="verfügbarkeit">
    <div class="verfügbar">09-11</div>
    <div class="fragen">12-19</div>
  </div>
  <div class="person">Sabine</div>
  <div class="verfügbarkeit">
    <div class="verfügbar">09-11</div>
    <div class="abwesend">12-19</div>
  </div>
  <div class="verfügbarkeit">
    <div class="verfügbar">09-11</div>
    <div class="abwesend">12-19</div>
  </div>
  <div class="verfügbarkeit">
    <div class="verfügbar">09-11</div>
    <div class="abwesend">12-19</div>
  </div>
  <div class="verfügbarkeit">
    <div class="verfügbar">09-11</div>
    <div class="abwesend">12-19</div>
  </div>
  <div class="verfügbarkeit">
    <div class="verfügbar">09-11</div>
    <div class="abwesend">12-19</div>
  </div>
  <div class="verfügbarkeit">
    <div class="verfügbar">09-11</div>
    <div class="abwesend">12-19</div>
  </div>
  <div class="verfügbarkeit">
    <div class="verfügbar">09-11</div>
    <div class="abwesend">12-19</div>
  </div>
</div>