<h1>Backoffice Deine Prinzession Mitarbeiterübersicht</h1>
<% if notice %>
  <p id = "notice"><%= notice %></p>
<% end %>
<p>Anzahl User: <%= @user_anzahl %></P>
<p>KW <%= @kal_woche %> ist: <%= week_dates(@kal_woche) %></P>
<div class="adminwoche">
  <div class="navi_zurück"><%= link_to '<< Vorherige Woche', admin_path(woche: "#{@kal_woche.to_i - 1}"), method: :get %></div>
  <div class="navi_vor"><%= link_to 'Nächste Woche >>', admin_path(woche: "#{@kal_woche.to_i + 1}"), method: :get %></div>
  <div class="titel">Name</div>
  <div class="titel">Mo <%= @wochen_datums[0]%></div>
  <div class="titel">Di <%= @wochen_datums[1]%></div>
  <div class="titel">Mi <%= @wochen_datums[2]%></div>
  <div class="titel">Do <%= @wochen_datums[3]%></div>
  <div class="titel">Fr <%= @wochen_datums[4]%></div>
  <div class="titel">Sa <%= @wochen_datums[5]%></div>
  <div class="titel">So <%= @wochen_datums[6]%></div>
  <% @alle_user.each do |mitarbeiter| %>
    <%= render partial: "verf_user", locals: { mitarbeiter: mitarbeiter, verfugbarkeiten: @wochen_auslastung[mitarbeiter]} %>
  <% end %>
</div>
<h3> Buchungs-Simulation </h3>
<%= form_tag("/zeige_moeg", method: "get") do %>
  <div class="field">
    <%= label_tag :startzeit %>
    <%= select_date Date.current, prefix: "buchungs_anfrage[startdatum]", order: [:day, :month] %>
    <%= select_hour prefix: "buchungs_anfrage[startdatum]" %>
  </div>
  <div class="field">
    <%= label_tag :dauer %>
    <%= text_field_tag "buchungs_anfrage[dauer]" %>
  </div>
  <div class="actions">
    <%= submit_tag "Wer hat Zeit?" %>
  </div>
<% end %>