<%= form_with(model: verfugbarkeit, local: true) do |form| %>
  <% if verfugbarkeit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(verfugbarkeit.errors.count, "error") %> prohibited this verfugbarkeit from being saved:</h2>
      <ul>
        <% verfugbarkeit.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :status %>
    <%= form.select :status, Verfugbarkeit.statuses.keys %>
  </div>
  <div class="field">
    <%= form.label :start %>
    <%= form.datetime_select :start, start_hour: 9, end_hour: 19, discard_minute: true %>
  </div>
  <div class="field">
    <%= form.label :ende %>
    <%= form.datetime_select :ende, start_hour: 9, end_hour: 20, discard_minute: true %>
  </div>
  <div class="field">
    <%= form.label :gcal_id %>
    <%= form.text_field :gcal_id %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>