<%= form_with(model: buchung, local: true) do |form| %>
  <% if buchung.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(buchung.errors.count, "error") %> prohibited this buchung from being saved:</h2>
      <ul>
        <% buchung.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :typ %>
    <%= form.select :typ, Buchung.typs.keys %>
  </div>
  <div class="field">
    <%= form.label :status %>
    <%= form.select :status, Buchung.statuses.keys %>
  </div>
  <div class="field">
    <%= form.label :start %>
    <%= form.datetime_select :start, start_hour: 9, end_hour: 19, :discard_minute => true %>
  </div>
  <div class="field">
    <%= form.label :ende %>
    <%= select_hour Time.now, start_hour: 9, end_hour: 20, field_name: :ende, prefix: :buchung  %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>